<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @i = @images.first %>
    <div class="active item"><%= image_tag @i.image.url(:medium), :class => "img-rounded" rescue ""%>
      <div class="carousel-caption">
        <h3><%= @i.created_at.strftime("%m/%d/%Y") rescue ""%></h3>
        <p><%= @i.comment rescue ""%></p>
      </div>
    </div>

    <% @images.drop(1).each do |pet_image_repo| %>
        <div class="item"><%= image_tag pet_image_repo.image.url(:medium), :class => "img-rounded" rescue ""%>
          <div class="carousel-caption">
            <h3><%= pet_image_repo.created_at.strftime("%m/%d/%Y") rescue "" %></h3>
            <p><%= pet_image_repo.comment rescue "" %></p>
          </div>
        </div>
    <% end %>


  </div>


  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>