<div class="field">
  <%= label :pet_id %><br>
  <%= text_field :pet_id %>
</div>

<div class="field">
  <%= label "Image"%><br>
  <%= f.file_field :image %>
</div>

<div class="field">
  <%=label :comment %><br>
  <%= text_field :comment %>
</div>