<p id="notice"><%= notice %></p>

<h1>Listing Shot Records</h1>

<table>
  <thead>
    <tr>
      <th>Vaccination</th>
      <th>Shot date</th>
      <th>Shot expiration</th>
      <th>Vaccination Status?</th>
      <th>Pet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shot_records.each do |shot_record| %>
      <tr>
        <td><%= shot_record.vaccination.vaccination_name rescue "" %></td>
        <td><%= shot_record.shot_date %></td>
        <td><%= shot_record.shot_expiration %></td>
        <td><%= shot_record.vaccination_current %></td>
        <td><%= shot_record.pet.pet_name rescue "" %></td>
        <!--<td><%= link_to 'Show', shot_record %></td>-->
        <!--<td><%= link_to 'Edit', edit_shot_record_path(shot_record) %></td>-->
        <!--<td><%= link_to 'Destroy', shot_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<h2>Import Shot Records</h2>-->

<!--<%= form_tag import_shot_records_path, multipart: true do %>-->
    <!--<%= file_field_tag :file %>-->
    <!--<%= submit_tag "Import" %>-->
<!--<% end %>-->

<br>
