
<div class="panel panel-default">
  <div class="panel-body">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Pet:</strong>
      <%= @shot_record.pet.pet_name %>
    </p>

    <p>
      <strong>Vaccination:</strong>
      <%= @shot_record.vaccination.vaccination_name %>
    </p>

    <p>
      <strong>Given Date:</strong>
      <%= @shot_record.shot_date.strftime("%m/%d/%Y") %>
    </p>

    <p>
      <strong>Expiration Date:</strong>
      <%= @shot_record.shot_expiration.strftime("%m/%d/%Y") %>
    </p>

    <p>
      <strong>Vaccination Status:</strong>
      <%= @shot_record.vaccination_current %>
    </p>




    <%= link_to 'Edit', edit_shot_record_path(@shot_record) %> |
    <%= link_to 'Back to '+ @shot_record.pet.pet_name + '\'s Profile', pets_show_path(:id => @shot_record.pet_id) %>

  </div>
</div>