<p id="notice"><%= notice %></p>

<h1>All Note Types</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Note type</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @note_types.each do |note_type| %>
          <tr>
            <td><%= note_type.note_type %></td>
            <!--<td><%= link_to 'Show', note_type, :class=>"btn btn-info sm" %></td>-->
            <td><%= link_to 'Edit', edit_note_type_path(note_type), :class=>"btn btn-warning sm" %></td>
            <!--<td><%= link_to 'Destroy', note_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @pets, renderer: BootstrapPagination::Rails %>

    <br>

    <!--<h2>Import Note Types</h2>-->

    <!--<%= form_tag import_note_types_path, multipart: true do %>-->
        <!--<%= file_field_tag :file %>-->
        <!--<%= submit_tag "Import" %>-->
        <!--<% end %>-->

    <br>

    <%= link_to 'New Note type', new_note_type_path,  :class=>"btn btn-default" %>
  </div>
</div>


